@import url("https://fonts.googleapis.com/css?family=Euphoria+Script&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
}

html {
  width: 100%;
  /* height: 100%; */
  font-size: 62.5%;
  box-sizing: border-box;
  /* position: relative; */
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a,
button,
i {
  cursor: pointer;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-bottom: 2px solid #3e3e3e;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
}

/* #page {
  height: 100%;
  width: 100%;
} */

.header-title-cont {
  /* display: none; */
  position: relative;
}

.header-title {
  color: black;
  position: absolute;
  top: 2rem;
}

.gold {
  color: rgb(158, 142, 22);
}

.white {
  color: rgb(158, 142, 22);
}

.logo-cont {
  text-align: center;
  padding: 1rem 2rem 0 2rem;
}

.logo {
  width: 4rem;
  height: auto;
}

.navigation-cont {
  padding: 2rem 2rem 0 2rem;
}

.navbar {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.go-pro-item {
  border-bottom: none;
}

.search-bar {
  display: flex;
}

.nav-link {
  border-radius: 0.6rem;
}

.nav-link:hover {
  background-color: rgb(146, 146, 146);
}

.nav-link:active {
  background-color: rgb(146, 146, 146);
}

.login-link {
  color: green;
}

.navbar-brand {
  font-family: "Newtype";
  font-size: 3.6rem;
  /* font-weight: 900; */
  /* letter-spacing: 3px; */
  /* text-shadow:  5px 5px 10px black; */
  color: black;
}

.sub-lists {
  display: none;
}

/* .dropdown-item {
  max-width: 100%;
} */

.dropdown-menu {
  overflow: hidden;
}

.login-cont {
  width: 50%;
  height: 90%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #666666;
  border-radius: 1.2rem;
  box-shadow: inset 0 0 2.5rem black, 7px 7px 20px black;
  display: none;
  z-index: 1;
}

.login-cont h2 {
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
}

hr {
  margin: 0 0 2rem 15%;
  width: 70%;
  border: 2px solid black;
  opacity: 1;
  border-radius: 0.2rem;
  color: black;
}

.form-logo {
  width: 8rem;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.form-group {
  padding: 0.5rem 1rem;
}

.remember-submit-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem 2rem 27.5px;
}

.form-check {
  align-self: flex-start;
}

.forgot-nomember-cont {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem 0 17.5px;
}

.login-input,
.signup-input {
  width: 100%;
  border-radius: 0.6rem;
  padding: 3.75px 0 3.75px 7.5px;
}

.login-label,
.signup-label {
  font-size: 2.4rem;
}

.form-email-pass-cont {
  /* background-color: pink; */
  width: 50%;
}

.submit {
  /* margin-left: 2rem; */
  width: 100%;
  border-radius: 0.6rem;
}

.form-exit {
  height: auto;
  cursor: pointer;
  font-size: 4rem;
  color: black;
}

.form-exit-cont {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  padding-top: 2rem;
  background-color: #666666;
  color: white;
}

.footer-logo-cont {
  position: absolute;
  left: 2rem;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 3rem;
  height: auto;
}

.foot-columns {
  text-align: center;
}

.foot-column1-cont {
  padding-left: 6rem;
}

.foot-columns h4 {
  font-weight: 900;
  border-bottom: 2px solid black;
}

.login-item {
  padding: 0 2rem;
  color: green;
  font-weight: 900;
  font-size: 1.6rem;
}

.search-bar {
  padding-right: 2rem;
}

.nav-item {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.dropdown-menu {
  background-color: #666666;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #666666;
}

.main-title-cont {
  text-align: center;
}

.main-title-cont h1 {
  /* font-size: 6rem; */
}

main {
  /* position: relative; */
  height: 100%;
  display: flex;
  justify-content: center;
}

.home-main-cont {
  display: flex;
  width: 90%;
  padding: 2rem 0 4rem 0;
}

.card-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.4rem;
}

.card-list {
  padding: 2rem;
  font-size: 1.6rem;
}

.card-list-item {
  list-style-type: disc;
  padding: 0.5rem 0;
  margin-left: 2rem;
}

.home-main-signup-btn-cont {
  text-align: center;
}

.home-main-signup-btn {
  width: 25%;
}

.wd-img {
  min-height: 100%;
  width: auto;
}

.card-body {
  padding: 0 0 2rem 0;
}

.btn {
  font-size: 1.6rem;
}

.signup-page-cont,
.helper-page-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0 4rem 0;
}

.signup-form-cont {
  width: 75%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-cont p {
  padding-top: 0;
  /* font-size: 1.6rem; */
}

.signup-form {
  width: 100%;
}

.signup-input {
  width: 50%;
}

.signup-label {
  white-space: nowrap;
  font-size: 1.6rem;
}

legend {
  white-space: nowrap;
}

.signup-hr {
  margin: 0 12.5% 1rem 0;
  width: 100%;
}

.card-numbers-cont {
  display: flex;
  padding-left: 10%;
  /* justify-content: space-evenly; */
}

.signup-submit-btns-cont {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.submit-btns {
  width: 25%;
}

.page-heading-cont {
  /* padding: 2rem; */
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  * {
    max-width: 100%;
  }
}

.helper-links-cont {
  width: 75%;
  height: 85%;
  border: 2px solid black;
  text-align: left;
  padding: 2rem;
}

.helper-links-titles {
  padding-left: 4rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.helper-links-titles:first-child {
  border-top: none;
}

.helper-links-cont ul li {
  list-style-type: disc;
  margin-left: 2rem;
}
