/* ================================= 
===========TABLE OF CONTENTS========
==================================*/

/* ================================= 
===========IMPORTS==================
==================================*/

@import url("https://fonts.googleapis.com/css?family=Euphoria+Script&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* ================================= 
===========VARIABLES================
==================================*/

:root {
}

/* ================================= 
===========BASE STYLEs==============
==================================*/

html {
  width: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a,
button,
i {
  cursor: pointer;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

/* ================================= 
===========GLOBAL STYLES============
==================================*/

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-bottom: 2px solid #3e3e3e;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  padding-top: 2rem;
  background-color: #666666;
  color: white;
}

legend {
  white-space: nowrap;
}

hr {
  margin: 0 0 2rem 15%;
  width: 70%;
  border: 2px solid black;
  opacity: 1;
  border-radius: 0.2rem;
  color: black;
}

.btn {
  font-size: calc(1.6rem + 1.2vw);
}

.page-heading-cont {
  width: 100%;
  text-align: center;
  font-size: calc(3.6rem + 1.7vw);
  padding: 2rem 0;
}

.lists {
  margin-left: 8rem;
  padding: 4rem 0;
}

.list-items {
  list-style-type: disc;
  font-size: clamp(1.6rem, 1.65vw, 2.4rem);
}

/* ================================= 
===========HEADER===================
==================================*/

/* ---LOGO--- */

.logo-cont {
  text-align: center;
  padding: 1rem 2rem 0 2rem;
}

.logo {
  width: 4rem;
  height: auto;
}

/* ================================= 
===========NAVIGATION===============
==================================*/

.navigation-cont {
  padding: 2rem 2rem 0 2rem;
}

.navbar {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.nav-item {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.login-item {
  padding: 0 2rem;
  color: green;
  font-weight: 900;
  font-size: 1.6rem;
}

/* ---TABS--- */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #666666;
}

.go-pro-item {
  border-bottom: none;
}

.nav-link {
  border-radius: 0.6rem;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgb(146, 146, 146);
}

.nav-link:active {
  background-color: rgb(146, 146, 146);
}

.login-link {
  color: green;
}

.search-bar {
  display: flex;
  padding-right: 2rem;
}

/* ---SUB TABS--- */

.dropdown-menu {
  background-color: #666666;
  overflow: hidden;
}

.sub-lists {
  display: none;
}

/* ================================= 
===========HOME=====================
==================================*/

/* ---MAIN--- */
.home-main-cont {
  display: flex;
  width: 90%;
  padding: 2rem 0 4rem 0;
}

.main-title-cont {
  text-align: center;
}

.main-title-cont h1 {
  /* font-size: 6rem; */
}

/* ================================= 
===========HOME MAIN INFO CARD======
==================================*/

.card-title {
  text-align: center;
  font-weight: 900;
  font-size: 2.4rem;
}

.card-list {
  padding: 2rem;
  font-size: 1.6rem;
}

.card-list-item {
  list-style-type: disc;
  padding: 0.5rem 0;
  margin-left: 2rem;
}

.home-main-signup-btn-cont {
  text-align: center;
}

.home-main-signup-btn {
  width: 25%;
}

.wd-img {
  min-height: 100%;
  width: auto;
}

.card-body {
  padding: 0 0 2rem 0;
}

/* ---HOME RESOURCES--- */
.home-resources-page-cont {
  width: 100vw;
  height: 100vh;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-top: 1rem solid rgb(158, 142, 22);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);
}

.home-resources-cont {
  width: 80%;
  height: 80%;
  /* background-color: #fff; */
  /* border: 2px solid black; */
  /* box-shadow: 0 0 10px black; */
  border-radius: 0.6rem;
  background: rgba(102, 102, 102, 0.6);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.6), 5px 5px 30px rgba(0, 0, 0, 0.2);
}

/* ---HOME COMMUNITY--- */
.home-community-page-cont {
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-top: 1rem solid rgb(255, 255, 255);
}

.home-community-cont {
  width: 80%;
  height: 80%;
  /* background-color: #fff; */
  /* border: 2px solid black; */
  /* box-shadow: 0 0 10px black; */
  border-radius: 0.6rem;
  background: rgba(102, 102, 102, 0.6);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.6), 5px 5px 30px rgba(0, 0, 0, 0.2);
}
/* ================================= 
===========FOOTER===================
==================================*/

.footer-logo-cont {
  position: absolute;
  left: 2rem;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 3rem;
  height: auto;
}

.foot-columns {
  text-align: center;
}

.foot-column1-cont {
  padding-left: 6rem;
}

.foot-columns h4 {
  font-weight: 900;
  border-bottom: 2px solid black;
}

/* ================================= 
===========LOGIN FORM/WINDOW========
==================================*/

.login-cont {
  width: 50%;
  height: 90%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #666666;
  border-radius: 1.2rem;
  box-shadow: inset 0 0 2.5rem black, 7px 7px 20px black;
  display: none;
  z-index: 1;
}

.login-cont h2 {
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
}

.form-logo {
  width: 8rem;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  padding: 0.5rem 1rem;
}

.remember-submit-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem 2rem 27.5px;
}

.form-check {
  align-self: flex-start;
}

.forgot-nomember-cont {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem 0 17.5px;
}

.login-input,
.signup-input {
  width: 100%;
  border-radius: 0.6rem;
  padding: 3.75px 0 3.75px 7.5px;
}

.login-label,
.signup-label {
  font-size: 2.4rem;
}

.form-email-pass-cont {
  width: 50%;
}

.submit {
  width: 100%;
  border-radius: 0.6rem;
}

.form-exit-cont {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.form-exit {
  height: auto;
  cursor: pointer;
  font-size: 4rem;
  color: black;
}

/* ================================= 
===========SIGN UP FORM/WINDOW======
==================================*/

.signup-page-cont,
.helper-page-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0 4rem 0;
}

.signup-form-cont {
  width: 75%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-cont p {
  padding-top: 0;
  /* font-size: 1.6rem; */
}

.signup-form {
  width: 100%;
}

.signup-input {
  width: 50%;
}

.signup-label {
  white-space: nowrap;
  font-size: 1.6rem;
}

.signup-hr {
  margin: 0 12.5% 1rem 0;
  width: 100%;
}

.card-numbers-cont {
  display: flex;
  padding-left: 10%;
}

.signup-submit-btns-cont {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.submit-btns {
  width: 25%;
}

/* ================================= 
===========HELPER PAGE/WINDOW======
==================================*/

.helper-links-cont {
  width: 75%;
  height: 85%;
  border: 2px solid black;
  text-align: left;
  padding: 2rem;
}

.helper-links-titles {
  padding-left: 4rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.helper-links-titles:first-child {
  border-top: none;
}

.helper-links-cont ul li {
  list-style-type: disc;
  margin-left: 2rem;
}


/* ================================= 
===========MEDIA Q'S================
==================================*/

@media screen and (max-width: 768px) {
  * {
    max-width: 100%;
  }
}
